.Card {
	padding: 1rem;
	background: var(--component-bg-color);
	border-radius: 16px;
	box-shadow: 0 0 5px 0 rgb(0 0 0 / 16%);

	h2 {
		font-size: 1.25em;
		margin-bottom: 1rem;

		.lucide {
			vertical-align: bottom;
			margin-right: 0.5rem;
		}
	}
}

.ModuleInfoRow {
	.progress {
		color: var(--neutral-color);
		align-content: center;

		&.started, &.completed {
			font-weight: 500;
		}

		&.started {
			color: var(--text-color);
		}

		&.completed {
			color: var(--success-color);
		}
	}
}

.CircularProgressbar {
	.CircularProgressbar-trail {
		stroke: var(--gray-color);
	}

	.CircularProgressbar-path {
		stroke: var(--blue-color);
	}

	.CircularProgressbar-text {
		fill: var(--blue-color);
		font-weight: 500;
	}
}

.ImageUploadInput {
	button {
		background: var(--img-bg-color);
		color: inherit;
		border: 2px dashed var(--border-color);
		border-radius: 16px;
		width: 250px;
		height: 150px;
		position: relative;
		overflow: hidden;

		* {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			margin: 0;
		}

		span {
			top: 50%;
			text-align: center;
			transform: translateY(-50%);
			pointer-events: none;
		}

		img {
			height: 100%;
			object-fit: cover;
		}

		&:hover {
			filter: brightness(92%);
		}
	}

	input[type=file] {
		display: none;
	}
}

.NameBox {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	margin: 2rem 0;
	padding: 2rem 2rem;
	color: #fff;
	background: #141c36e0;
	border-radius: 16px;
	position: relative;
	overflow: hidden;

	> img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}

	> h1 {
		flex: 1;
		margin: 0;
	}

	.CircularProgressbar {
		width: 60px;
	}

	.CircularProgressbar-text {
		fill: #fff;
	}
}

.TabBar {
	list-style: none;
	border-bottom: 1px solid var(--border-color);

	li {
		display: inline-block;

		> * {
			display: block;
			padding: 0.75rem 1.25rem;
			margin-bottom: -1px;
			border: 1px solid transparent;
			border-radius: 6px 6px 0 0;

			&:hover {
				border-color: var(--border-color-hover);
				border-bottom-color: transparent;
			}

			&.active {
				background: var(--component-bg-color);
				border-color: var(--border-color);
				border-bottom-color: var(--component-bg-color);
			}
		}

		a {
			text-decoration: none;
			color: var(--link-color);
		}
	}
}
