.Home :global(.Card) {
	margin: 1rem 0;
}

.RecentActivityCard, .MyCoursesCard {
	ul {
		list-style: none;
	}

	a {
		color: var(--link-color);
	}
}

.RecentActivityCard {
	li {
		display: flex;
		margin: 1rem 0;

		a {
			flex: 1;
			font-weight: 500;
			text-decoration: none;
		}
	}
}

.MyCoursesCard {
	h2 {
		margin: 0;
	}

	:global(.CourseInfoRow) {
		padding: 1rem;
	}

	li:not(:last-child) {
		border-bottom: 1px solid var(--border-color);
	}
}
