* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--body-bg-color: #fafbfc;
	--component-bg-color: #fff;
	--text-color: #222325;
	--border-color: #afb6c2;
	--link-color: #0073c4;
	--link-visited-color: #8948c4;
	--success-color: #1b8057;
	--neutral-color: #6a6e75;
	--gray-color: #d5dae3;
	--blue-color: #0073c4;
}

body {
	background: var(--body-bg-color);
	color: var(--text-color);
	font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

h1 {
	margin-block: 1em;
}

a:link {
	color: var(--link-color);
}

a:visited {
	color: var(--link-visited-color);
}

.success {
	color: var(--success-color);
}

.neutral {
	color: var(--neutral-color);
}

.text-right {
	text-align: right;
}

.card {
	padding: 1rem;
	background: var(--component-bg-color);
	border-radius: 16px;
	box-shadow: 0 0 5px 0 rgb(0 0 0 / 16%);

	h2 {
		font-size: 1.25em;
		margin-bottom: 1rem;

		.lucide {
			vertical-align: bottom;
			margin-right: 8px;
		}
	}
}

.details-list-row {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

	> img {
		flex-shrink: 0;
		border: 1px solid var(--border-color);
		border-radius: 8px;
		width: 160px;
		height: 90px;
		object-fit: cover;
	}

	> .content {
		flex: 1 350px;
		color: var(--neutral-color);

		a {
			display: block;
			color: var(--link-color);
			margin-bottom: 0.5em;
			font-weight: 500;
			text-decoration: none;
		}
	}
}

.CircularProgressbar {
	.CircularProgressbar-trail {
		stroke: var(--gray-color);
	}

	.CircularProgressbar-path {
		stroke: var(--blue-color);
	}

	.CircularProgressbar-text {
		fill: var(--blue-color);
		font-weight: 500;
	}
}
