* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--body-bg-color: #fafbfc;
	--component-bg-color: #fff;
	--text-color: #222325;
	--border-color: #afb6c2;
	--link-color: #0073c4;
	--link-visited-color: #8948c4;
	--success-color: #1b8057;
	--neutral-color: #6a6e75;
	--gray-color: #d5dae3;
	--blue-color: #0073c4;
}

body {
	background: var(--body-bg-color);
	color: var(--text-color);
	font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

h1 {
	margin-block: 1em;
}

a:link {
	color: var(--link-color);
}

a:visited {
	color: var(--link-visited-color);
}

.success {
	color: var(--success-color);
}

.neutral {
	color: var(--neutral-color);
}

.text_center {
	text-align: center;
}

.text_right {
	text-align: right;
}

.heading_section {
	h2 {
		border-bottom: 1px solid var(--border-color);
		margin: 1rem 0;
		padding-bottom: 0.5em;
	}
}

.text_section {
	p {
		margin-block: 1em;
	}

	li {
		margin-block: 0.5em;
	}
}

.heading_section, .text_section {
	margin: 2rem 0;
}

.details_list_row {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

	> .img {
		flex-shrink: 0;

		img {
			display: block;
			border: 1px solid var(--border-color);
			border-radius: 8px;
			width: 160px;
			height: 90px;
			object-fit: cover;
		}
	}

	> .content {
		flex: 1 350px;
		color: var(--neutral-color);

		a {
			display: block;
			color: var(--link-color);
			margin-bottom: 0.5em;
			font-weight: 500;
			text-decoration: none;
		}
	}

	.CircularProgressbar {
		width: 60px;
	}
}