.Login {
	height: 100vh;
	overflow: auto;
	background: url(https://unsplash.com/photos/FHnnjk1Yj7Y/download?w=1280) center / cover no-repeat;
	padding: 1rem;

	h1 {
		margin: 0;
		font-size: 1.75em;
		margin-bottom: 1rem;
	}

	label, input {
		margin: 0.5rem 0;
	}

	input {
		display: block;

		&:not([type=submit]) {
			width: 100%;
		}

		&[type=submit] {
			margin: 1rem 0;
		}
	}

	:global(.Card) {
		max-width: 500px;
		height: 100%;
		margin-left: auto;
		padding: 1.5rem;
	}
}
