.MainLayout {
	display: flex;
	height: 100vh;

	main {
		flex: auto;
		overflow: auto;
	}
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 2rem;
}

.NavBar {
	flex-basis: 250px;
	background: var(--component-bg-color);
	border-right: 1px solid var(--border-color);

	.mobile {
		display: none;
		padding: 0.5rem 1rem;
		gap: 1rem;

		button {
			background: unset;
			color: unset;
			border: unset;
			padding: unset;
		}
	}

	.links {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem;
		height: 100%;

		ul {
			list-style: none;
		}

		li a {
			display: block;
			color: inherit;
			text-decoration: none;
			font-weight: 500;
			padding: 1rem;
			border-radius: 8px;

			&:hover {
				background: #eee;
			}

			&:global(.active) {
				background: #383850;
				color: #fff;
			}

			* {
				vertical-align: middle;
			}

			:global(.lucide) {
				margin-right: 8px;
			}
		}
	}
}

@media (max-width: 950px) {
	.MainLayout {
		display: block;
	}

	.NavBar {
		border-right: none;
		border-bottom: 1px solid var(--border-color);

		.mobile {
			display: flex;
		}

		.links {
			display: none;

			&:global(.active) {
				display: block;
			}
		}
	}
}
