.MainLayout {
	display: flex;
	height: 100vh;

	main {
		flex: auto;
		overflow: auto;
	}

	:global(.page) {
		max-width: 1100px;
		margin: 0 auto;
		padding: 0 2rem;
	}
}

.NavBar {
	display: flex;
	flex-direction: column;
	flex-basis: 250px;
	padding: 1rem;
	gap: 1rem;
	background: var(--component-bg-color);
	border-right: 1px solid var(--border-color);

	.top {
		display: flex;
		gap: 1rem;

		button {
			display: none;
			background: unset;
			color: unset;
			border: unset;
			padding: unset;
		}

		img {
			vertical-align: middle;
		}
	}

	.links {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: auto;

		ul {
			list-style: none;
		}

		li a {
			display: flex;
			align-items: center;
			gap: 0.5em;
			color: inherit;
			text-decoration: none;
			font-weight: 500;
			padding: 1rem;
			border-radius: 8px;

			&:hover {
				background: #eee;
			}

			&:global(.active) {
				background: #383850;
				color: #fff;
			}
		}
	}
}

@media (max-width: 950px) {
	.MainLayout {
		display: block;
	}

	.NavBar {
		border-right: none;
		border-bottom: 1px solid var(--border-color);

		.top button {
			display: unset;
		}

		.links {
			display: none;

			// It seems we can't do a smooth transition unless we do hacks with positioning or heights
			&.active {
				display: block;
			}
		}
	}
}

@media (max-width: 550px) {
	.MainLayout :global(.page) {
		padding: 0 1rem;
	}
}
