.layout {
	display: flex;
	height: 100vh;

	main {
		flex: auto;
		overflow: auto;
	}
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 16px;
}

.navbar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 280px;
	padding: 1em;
	background: var(--component-bg-color);
	border-right: 1px solid var(--border-color);

	ul {
		list-style: none;
	}

	li a {
		display: block;
		color: inherit;
		text-decoration: none;
		font-weight: 500;
		padding: 1em;
		border-radius: 8px;

		&:hover {
			background: #eee;
		}

		&:global(.active) {
			background: #383850;
			color: #fff;
		}
	}
}
