.Course {
	:global(.TabContent) {
		padding: 1rem;
	}
}

// TODO: Refactor this, as this is a common pattern across many places
.FormCommon {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	align-items: flex-start;

	> div:last-child {
		flex: auto;
		flex-basis: 450px;
	}

	label {
		width: 100%;

		input, textarea, select {
			width: 100%;
			margin: 0.5rem 0 1rem;
		}
	}

	input, textarea, select {
		display: block;
	}

	textarea {
		resize: vertical;
	}
}

.Course_Info {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

.Course_Modules {
	.top {
		display: flex;
		justify-content: flex-end;
	}

	ul {
		list-style: none;
	}

	li {
		margin: 1rem 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.Course_NewModule {
	h2 {
		margin-bottom: 1rem;
	}
}
