.Courses {
	table {
		width: 100%;
		white-space: nowrap;
	}
}

.heading_row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete {
	display: flex;
	margin-left: auto;
	background: #ad2a2a;
	padding: 0.5em;

	&:hover {
		background: #7a1e1e;
	}
}
