.NewUser {
	input, select {
		display: block;
	}

	input[type=submit] {
		margin: 1rem 0;
	}

	input:not([type=submit]), select {
		margin: 0.5rem 0 1rem;
		width: 100%;
	}
}

.row {
	display: flex;
	gap: 1rem;
}
