.User {
	:global(.TabContent) {
		padding: 1rem;
	}
}

.User_Info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;

	label {
		width: 100%;

		input, select {
			width: 100%;
			margin-top: 0.5rem;
		}
	}

	input, select {
		display: block;
	}

	form {
		display: contents;
	}

	.row {
		display: flex;
		gap: 1rem;
	}
}


.User_Activity table {
	width: 100%;
}
